@charset "UTF-8";
@font-face {font-family: UTM_Aquarelle; src: url('font/UTM Aquarelle.ttf') format('truetype');}

body {background: url('');}
container {overflow: hidden; }

/*--------------------------------------------------
	Header Area
--------------------------------------------------*/
header {height: 600px; background: url('img/header.png') repeat ; background-color: #000; min-width:1300px; padding-top: 10px; 

/*border-bottom: 1px solid #3f3e43;*/
	-webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
	-moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
	transition: background .3s ease-in-out,padding .3s ease-in-out;
	
}
	



header #headerInner {width: 1120px; margin: 0 auto; padding: 0 0 10px 0;}
header #headerInner a { text-decoration: none; font-family: 'UTM_Aquarelle'; font-size: 300%; }


header #headerInner #headRight { float: right; }
header #headerInner #headRight p.headBnr { float: right; padding-top: 10px; }
header #headerInner #headRight #BGM { width: 280px; height: 90px; padding: 5px 0 5px 0; float: right;}
header #headerInner #BGM { background: url('img/header_logo.png') no-repeat ; }
header #headerInner #headRight .store, header #headerInner #headRight .related { margin-right: 10px; }

#jumper { 
 padding-left: 600px;}
}

/*--------------------------------------------------
	Contents Area
--------------------------------------------------*/

#wrapper {background: url('img/header.jpg') repeat-x center -110px; min-width:1300px;}

#wrapper #loader { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 100; }
#wrapper #loader p { background: url('img/loader.gif') no-repeat 0 0; width: 16px; height: 16px; position: absolute; left: 51%; top: 51%; text-indent: -9999px; }
#wrapper #contents { height: 759px; }
#wrapper #contents.topPage { height: 800px; }
#wrapper #contents .contentsInner { width: 1120px; margin: 0 auto; position: relative; /*min-width:1120px;*/ }

/*--------------------------------------------------
	Footer Area
--------------------------------------------------*/
footer { background: url('img/bg_pattern.jpg') repeat center 0; }
footer .footerInner { border-top: 5px solid #877220; padding: 12px 0 36px;}
footer .footerInner .inner { width: 1150px; margin: 0 auto; overflow: hidden; }
footer .footerInner .inner .footerLeft {float: left; }
footer .footerInner .inner ul li { display: inline-block; margin: 0 15px 0 0; vertical-align: middle; line-height: 0; }
footer .footerInner .inner ul li.share { margin: 0 6px 0 0; height: 25px;}
footer .footerInner .inner ul li.share img { vertical-align: top; margin: 7px 0 0 0; }
footer .footerInner .inner ul li.share iframe { display: inline-block; width: 95px !important ; vertical-align: top; margin: 7px 0 0 0; }
footer .footerInner .inner .footerRight { float: right; width: 365px; color: #ababab; text-align: right; }
footer .footerInner .inner .footerRight .copyright { padding: 5px 0 10px 0; }





