@charset "UTF-8";

body {background: url('img/bg_pattern.jpg');}
container {overflow: hidden; }

/*--------------------------------------------------
	Header Area
--------------------------------------------------*/
header {height: 140px; background: url('http://rejetweb.jp/kengakimi/common/css/img/portal_bg.jpg') repeat-x center 0; min-width:1300px;}


header #headerInner {width: 1120px; margin: 0 auto; padding: 0 0 10px 0;}
header #headerInner #logo { width: 280px; height: 90px; padding: 5px 0 5px 0; float: left;}
header #headerInner #logo a { background: url('img/header_logo.png') no-repeat ; }

header #headerInner ul.gnav{float:center; position:relative; z-index: 200; width: 740px; height:30px; padding:34px 0 0 15px; background: url('img/bg_portal_gNavi.png') no-repeat 15px 35px;}
header #headerInner ul.gnav li{display: inline-block;}
header #headerInner ul.gnav li a{display: block; height:30px; background: url('img/gnav_magatama.png') no-repeat -30px 0;}
header #headerInner ul.gnav li a:hover{background-position: 0px 0;}
header #headerInner ul.gnav .gnav01 a{margin-left:9px;}
header #headerInner ul.gnav .gnav01 a img{height:30px; width: 110px;}
header #headerInner ul.gnav .gnav02 a img{height:30px; width: 95px;}
header #headerInner ul.gnav .gnav03 a img{height:30px; width: 102px;}
header #headerInner ul.gnav .gnav04 a img{height:30px; width: 150px;}
header #headerInner ul.gnav .gnav05 a img{height:30px; width: 133px;}
header #headerInner ul.gnav .gnav06 a img{height:30px; width: 47px;}
header #headerInner ul.gnav .gnav07 a img{height:30px; width: 50px;}



/*--------------------------------------------------
	Contents Area
--------------------------------------------------*/

#wrapper {background: url('http://rejetweb.jp/kengakimi/common/css/img/portal_bg.jpg') repeat-x center -110px; min-width:1300px;}

#wrapper #loader { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 100; }
#wrapper #loader p { background: url('img/loader.gif') no-repeat 0 0; width: 16px; height: 16px; position: absolute; left: 51%; top: 51%; text-indent: -9999px; }
#wrapper #contents { height: 759px; }
#wrapper #contents.topPage { height: 800px; }
#wrapper #contents .contentsInner { width: 1120px; margin: 0 auto; position: relative; /*min-width:1120px;*/ }

/*--------------------------------------------------
	Footer Area
--------------------------------------------------*/
footer { background: url('img/bg_pattern.jpg') repeat center 0; }
footer .footerInner { border-top: 5px solid #877220; padding: 12px 0 36px;}
footer .footerInner .inner { width: 1150px; margin: 0 auto; overflow: hidden; }
footer .footerInner .inner .footerLeft {float: left; }
footer .footerInner .inner ul li { display: inline-block; margin: 0 15px 0 0; vertical-align: middle; line-height: 0; }
footer .footerInner .inner ul li.share { margin: 0 6px 0 0; height: 25px;}
footer .footerInner .inner ul li.share img { vertical-align: top; margin: 7px 0 0 0; }
footer .footerInner .inner ul li.share iframe { display: inline-block; width: 95px !important ; vertical-align: top; margin: 7px 0 0 0; }
footer .footerInner .inner .footerRight { float: right; width: 365px; color: #ababab; text-align: right; }
footer .footerInner .inner .footerRight .copyright { padding: 5px 0 10px 0; }



